* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

a.icon {
    position: absolute;
    top: 200px;
    left: 146px;
}

.icon-logo:before {
	background: url(logo.jpg);
	display: inline-block;
	height: 173px;
	width: 200px;   
    position: absolute;
    top: -180px;
    left: -75px;
    content: "";
    
}